<%= form_with(model: inquiry, local: true) do |form| %>
  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :check_in %>
    <p>
      <%= form.date_select :check_in, id: :inquiry_check_in, default: Date.today + 1, required: true %>
    </p>
  </div>

  <div class="field">
    <%= form.label :check_out %>
    <p>
      <%= form.date_select :check_out, id: :inquiry_check_out, default: Date.today + 2, required: true %>
    </p>
  </div>

  <div class="field">
    <%= form.label :adults %>
    <p>
      <%= form.select :adults, (0..10).map {|i| [i,i]}, id: :inquiry_adults, required: true %>
    </p>
  </div>

  <div class="field">
    <%= form.label :children %>
    <p>
      <%= form.select :children, (0..10).map {|i| [i,i]}, id: :inquiry_children %>
    </p>
  </div>

  <div class="field">
    <%= form.label :pets %>
    <p>
      <%= form.select :pets, (0..5).map {|i| [i,i]}, id: :inquiry_pets %>
    </p>
  </div>

  <div class="field">
    <%= form.label "Select a unit:" %>
      <% @units.each do |unit| %>
        <p>
          <%= form.radio_button :unit_id, unit.id %>
          <%= form.label unit.ad_name %>
        </p>
      <% end %>
  </div>

    <div class="field">
    <%= form.label :rental_site %>
    <p>
      <%= form.select :rental_site, ["Booking.com", "Bookit.com", "Expedia", "Hotels.com", "Travelocity", "Tripadvisor", "Tripping", "Trivago", "Other"], { include_blank: true }, id: :inquiry_rental_site %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
