<p id="notice"><%= notice %></p>

<%= link_to 'Back', inquiries_path %>

<p>
  <strong>Rental site:</strong>
  <%= @inquiry.rental_site %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @inquiry.unit.ad_name %>
</p>

<p>
  <strong>Price:</strong>
  <%=h number_to_currency(@inquiry.price) %>
</p>

<p>
  <strong>Tax:</strong>
  <%=h number_to_currency(@inquiry.tax) %>
</p>

<p>
  <strong>Nights:</strong>
  <%= @inquiry.nights %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @inquiry.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @inquiry.check_out %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @inquiry.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @inquiry.children %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @inquiry.pets %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Destroy', @inquiry, method: :delete, data: { confirm: 'Are you sure?' } %>