<p id="notice"><%= notice %></p>

<%= button_to 'Back', inquiries_path, method: :get %>
<br>

<h3>Inquiry # <%= @inquiry.id %></h3>
<br>

<p>
  <strong>Unit Name:</strong>
  <%= @inquiry.unit.ad_name %>
</p>

<p>
  <strong>Check in:</strong>
  <%= @inquiry.check_in %>
</p>

<p>
  <strong>Check out:</strong>
  <%= @inquiry.check_out %>
</p>

<p>
  <strong>Nights:</strong>
  <%= @inquiry.nights %>
</p>

<p>
  <strong>Adults:</strong>
  <%= @inquiry.adults %>
</p>

<p>
  <strong>Children:</strong>
  <%= @inquiry.children %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @inquiry.pets %>
</p>

<p>
  <strong>Price:</strong>
  <%=h number_to_currency(@inquiry.price) %>
</p>

<p>
  <strong>Tax:</strong>
  <%=h number_to_currency(@inquiry.tax) %>
</p>

<p>
  <strong>Rental site:</strong>
  <%= @inquiry.rental_site %>
</p>

<br><br><br>

<p>
  <%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
  <%= link_to 'Destroy', @inquiry, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>